body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}


.navbar {
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.navbar li{
    position:relative;
    flex: 1;
    text-align: center;
}

.navbar a {
    display: block;
    padding: 15px 0;
    text-decoration: none;.
}