.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding-left: 100px;
}

.flex-item{
    padding: 20px;
    padding-left: 20px;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 10px;
}

.span1{
    margin-top: 30px;
    font-size: 20px;
    padding-left: 500px;
    color:blue;
    }

    .span2{
        margin-top: 100px;
        font-size: 20px;
        padding-left: 500px;
        color: rgb(54, 6, 6);
    }

body{
    background:linear-gradient(90deg, lightblue, purple);
}


.grid-container{
    display: grid;
    
    padding-right: 20px;
    gap: 10px;
}


.grid-item{
    
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

